* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(249, 220, 223);
    min-height: 100vh;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    max-width: 400px;
    
}

.list {
    background-color: #ffff;
    border-radius: 12px;
    padding: 15px 15px;
    text-align: center;
    box-shadow: 0px 2px 10px #b2a5a5;
    width: 100%;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

#to-do {
    flex: 1px;
    padding: 12px 16px;
    border: 1px solid #000000;
    border-radius: 10px 0px 0px 10px;
}

#button {
    background-color: rgb(249, 220, 223);
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    padding: 12px 18px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}


#ulList {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px ;
    margin-bottom: 8px;
    box-shadow: inset  #000000;
}

li span {
    font-size: 16px;
    font-weight: 500;

}


li button {
    border-radius: 8px;
    border: none;
    background-color: rgb(252, 203, 208);
    font: 14px;
    color: #ffffff;
    padding: 8px 12px;
    cursor: pointer;

}

li button:hover {
    background-color:rgb(255, 157, 166);

}